.box {
    margin-top: 5%;
    background-color:lightblue;
    position:absolute;
    right:0px;
    left:0px;
}

.app {
    background-color: lightblue;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}